$accent: #FFC178;
$black: #000;
$gray: #C8C6C4;


%open-sans-700 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
%open-sans-600 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
%open-sans-400 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}